By ReCoded staff
#movie-backdrop {
    width: 100%;
}


.container {
    padding-top: 2em;
}
body{
      background-color: rgba(7, 7, 7, 0.998);

}

#actors {
    margin: 24px 16px 0 0;
}
img{
    max-width: 100%;
}


#similar-movie img:hover{
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
    z-index: 10;
    -webkit-box-shadow:0px 15px 38px -5px #ff9900 ;
    box-shadow: 0px 15px 38px -5px #ff9900;
    border: #ff9900 1px solid;
}




/* company-cards: makes rotate 180 degree and gets back to original status*/
#company-card{
  background: #777474;
  padding: 1em;
  border-radius: 20px;
}

#company-card img {
    animation: rotateLogo 1s linear ;
  }
  
  @keyframes rotateLogo {
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(180deg);
    }
    100% {
      transform: rotateY(0deg);
    }
  }
  
  /* the main actors page */

  #actors-main-page img:hover{
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
    z-index: 10;
    -webkit-box-shadow:0px 15px 38px -5px #ff9900 ;
    box-shadow: 0px 15px 38px -5px #ff9900;
    border: #ff9900 1px solid;
  }

 

/* movies-page, actors */

#actor-card img {
  
    object-position: center; 
    margin-left: 25px;
    margin-top: 25px; 
    
}
#actor-card {
  /* margin: 0 .25em; */
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#actor-card img:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
    z-index: 10;
    -webkit-box-shadow:0px 15px 38px -5px #ff9900 ;
    box-shadow: 0px 15px 38px -5px #ff9900;
    border: #ff9900 1px solid;
}



/* movies in the main page */
.card {
    transition: transform 0.3s ease;
    
  }

  .card:hover {
    transform: translateY(-5px);
    -webkit-box-shadow:0px 15px 38px -5px #ff9900 ;
    box-shadow: 0px 15px 38px -5px #ff9900;
    border: #ff9900 1px solid;
  }

/* By Izdihar */

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Caudex', serif;
    color: #fff;
}

  nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
    color: white;
    background: black;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.3);
    z-index: 200;
    position: sticky;
    top: 0;

} 
  
 #search {
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    width: 200px;
    height: 35px;
   
 }

.a {
    font-family: 'Pirata One', cursive;
    color: white;
    font-weight: lighter;
    color: white;
    cursor: pointer;
    padding: 15px;
    font-size: larger;
    line-height: -1.5;
    text-decoration: none;
} 
.a:hover{
    opacity: .80;
}

.logo img {
    height: auto;
    width: 65px;
}



  /* dropdown */
   
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}


/* newly added 22.05.2023 */
.dropdown {
    position: absolute;
    background-color: #777474;
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    list-style: none;
    border-radius: 5px;
    transition: all 0.3 ease
}

.dropdown li {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: all 0.3;
    font-size: small;
   
}

.dropdown li:hover {
    background-color: #474242;
}

#genre {
    margin-right: 25px;
}

#filter {
    margin-left: 25px;
}

.dropdown {
    display: none;
}

/* footer style */

footer{
width: 100%;
height: 100px;
background-color: black;
display: flex;
justify-content: center;
align-items: center;
}
footer a {
    margin: 10px;
}
footer a:hover {
   text-decoration: none;
}
footer img{
    height: 50px;
    width: auto;
    border-radius: 50%;
}

span {
    text-decoration: none;
    color: white;
    opacity: 0.7;
    display: none;
}

/* tablet-responsive */
  @media  (min-width: 401px) and (max-width: 900px) {
    .logo img {
        height: auto;
        width: 30px;
    }

    nav {
        width: 100%;
        font-weight: 500;
        font-size: x-small;
        display: flex;
        justify-content: space-between;
        align-items: center; 
        padding: 5px;
        

    } 

    .navbar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 0px;
    }

    #search {
        width: 80px;
        height: 20px;
    }
    #filter-btn {
        font-size: x-small;  
    }
  }


  /* add by hayder */

  .clickable-card {
    cursor: pointer;
  }
  .card-height:hover::before {
    content: attr(data-movie-overview);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    z-index: 1;
    pointer-events: none;
    cursor: pointer;
  }
  
  .card-title {
    font-size: 18px;
    font-weight: 700;
   
  }
 .cardText {
    font-weight: 700;
    color: #ff9900;
 }
  .card-height{
    min-height: 690px;
  }



  /* add by wasim */
.actor-info{
    display: flex;
}
  .actor-text{
    width: 70%;
    padding-right: 3em;
  }
  .actor-img{
    width: 30%;
    align-self: flex-start;
  }
  .photo{
    padding:0 5em;

  }


/* #actorsInMovei{
  overflow: auto;
  white-space: nowrap;
  background-color: rgba(128, 128, 128, 0.147);
} */
.related{
  margin:0 2em;
  background-color: rgba(128, 128, 128, 0.147);
  overflow: auto;
  white-space: nowrap;
  border-radius: 10px;

}
.about{
  background-color: #ff9900;
  color: #fff;
  border: #777474 1px dashed;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 30px;
  margin: 3em 0;
  padding: 3em 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gif{
  align-self: center;
  padding-top: 4em ;
}
#search{
  color: black;
}


  /* mobile-responsive */
@media (max-width: 400px) {
    .logo img {
        display: none;
    }
     nav {
        width: 100%;
        font-weight: 500;
        height: 55px;
        font-size: xx-small;
        display: flex;
        justify-content: space-evenly;
        align-items: center; 
        padding: 5px;

    } 
    a {
        padding: 2px;
    }

    .navbar {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: smaller;
        padding: 0;
        }
    #filter-btn {
        font-size: xx-small;  
    }

    #search {
        width: 65px;
        height: 20px;
    }
    /* add by wasim */
    .container{
        padding:1em .50em;   
    }
    .actor-info{
        flex-direction: column-reverse;
    }
    .actor-text{
        width: 100%;
        padding: 0;
    }
    .actor-img{
        width: 100%;
        margin-bottom: 1em;
        padding-left: 4.5em;
    }
    .photo{
        padding: 0;
    }
    #actorsInMovei{
      max-width: 30%;
    }
    #similarMovies{
      max-width: 30%;
    }
  }
  .card-click {
    transition: transform 0.3s ease;
    cursor: pointer;
    width: 100%;
    padding-left: 20px;
  }


  .card-click:hover {
    transform: translateY(-5px);
  }
