#movie-backdrop {
    width: 100%;
}

.container {
    padding-top: 32px;
}

#actors {
    margin: 24px 16px 0 0;
}
/* By Izdihar */

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  nav {
    height: 100px;
    top: 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 20px;
    color: white;
    background: black;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.3);
    z-index: 200;
    position: sticky;

} 

  
 #search {
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
   
 }

a {
    font-family: 'Pirata One', cursive;
    color: white;
    font-weight: lighter;
    color: white;
    cursor: pointer;
    padding: 15px;
    font-size: larger;
    line-height: -1.5;
} 

.logo img {
    height: auto;
    width: 65px;
}
#search {
    width: auto;
    height: 40px;
}



/* mobile-responsive */
@media (max-width: 400px) {
    .logo img {
        height: auto;
        width: 30px;
    }
     nav {
        width: 100%;
        font-weight: 500;
        height: 50px;
        top: 0;
        font-size: x-small;
        display: flex;
        justify-content: space-between;
        align-items: center; 

    } 

    .navbar {
    width: 100%;
    }

    #search {
        width: 70px;
    }
  }

/* tablet-responsive */
  @media  (min-width: 401px) and (max-width: 900px) {
    .logo img {
        height: auto;
        width: 30px;
    }
     nav {
        width: 100%;
        font-weight: 500;
        height: 50px;
        top: 0;
        font-size: x-small;
        display: flex;
        justify-content: space-between;
        align-items: center; 
        padding: 20px;

    } 

    .navbar {
    width: 100%;
    }

    #search {
        width: 60px;
    }
  }
